# ===========================
# 🐍 Python / Django
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.pot
*.pyc
*.db
*.sqlite3
*.DS_Store
.env
.env.*
*.mo
*.egg-info/
*.bak
*.swp
*.tmp

# Virtual environments
venv/
env/

# Migrations (but keep __init__.py)
app/migrations/
!app/migrations/__init__.py

# ===========================
# 🔑 Security / Keys
# ===========================
*.pem
*.key
*.crt
*.csr
*.p12
*.der
*.jks
*.keystore
*.pub

# ===========================
# 🧱 Build / Cache
# ===========================
build/
dist/
*.egg/
*.manifest
*.spec
*.coverage
.coverage
.cache/
static
